<!DOCTYPE html>
<html>
<head>
  <base href="/static/pwa/">

  <meta charset="UTF-8">
  <meta content="IE=Edge" http-equiv="X-UA-Compatible">
  <meta name="description" content="This is a test for PWA integration in Django">

  <!-- iOS meta tags & icons -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="test_wb">
  <link rel="apple-touch-icon" href="/static/pwa/icons/Icon-192.png">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/static/pwa/favicon.png"/>

  <title>Test PWA - Flutter Django</title>
  <link rel="manifest" href="/static/pwa/manifest.json">
</head>
<body>
  <h1>Hello, this is a test for PWA!</h1>
  <p>If you see this message, the index.html is being served correctly.</p>

  <script src="flutter_bootstrap.js" async></script>
</body>
</html>
